{
    "asset-server": {
        "max-age": 86400
    },
    "applications": [
        "SharpExtensions/AssetsKit",
        "SharpExtensions\/RemindMe",
        "Resound"
    ],
    "authentication": {
        "model": "Resound\\Models\\User",
        "login-field": "login",
        "password-field": "password",
        "session-duration": 3600
    },
    "database": {
        "driver": "mysql",
        "database": "resound",
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "password"
    },
    "library": {
        "url": "localhost",
        "username": "someuser",
        "password": "somepassword",
        "path": "/home/someuser/Music",
        "port": 21
    }
}